<h1>Timecards</h1>
<a href="/timecards/new">New</a>
<table>
    <thead>
        <tr>
            <th>Timecard</th>
            <th>Title</th>
            <th>Hours</th>
            <th>Individual</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each this.timecard}}
        <tr>
            <td>{{dataValues.id}}</td>
            <td>{{dataValues.title}}</td>
            <td>{{dataValues.hours}} hours</td>
            <td>{{dataValues.individual_id}}</td>
            <td><a href="/timecards/view/{{dataValues.id}}">View</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>