
<h1>Editing: {{this.person.first_name}} {{this.person.last_name}}</h1>
PersonID: <kbd>{{this.person.id}}</kbd><br>
First name: {{this.person.first_name}}<br>
Last name: {{this.person.last_name}}<br>
Nickname: {{this.person.nickname}}<br>
Email: <a href="mailto:{{this.person.email}}">{{this.person.email}}</a><br>
<!-- TODO: Lookup & Display Department Name instead of ID -->
Department: {{this.person.department_id}} <a href="/departments/edit/{{this.person.department_id}}">(Goto)</a>
<hr>


Notes: {{this.person.notes}}<br>

<hr>
User Last Login: {{this.person.last_login}}<br>
Created: {{this.person.createdAt}}<br>
Modified: {{this.person.updatedAt}}

<br><br><br>
<a href="/people/">Back</a>